importFrom(stats,setNames)
importFrom(utils,data,head)
import(jmvcore)
importFrom(R6, R6Class)
export(reportOmv)
export(aiTtestIS)
export(aiAnovaOneW)
export(aiCorr)
export(aiContTables)
export(localAISetup)
export(report_from_omv)
export(summarize_results)
export(render_results_text)
export(render_method_text)
export(ollama_available)
